{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block body %}
  {%- if not config.hide_title %}
  {{ rst.html_title }}
  {%- endif %}
  {%- if ctx.pub_date %}
  <div class="date">Published: {{ format_date(ctx.pub_date) }}</div>
  {%- endif %}
  {% if ctx.tags %}<div class="tags">Tags: {% for tag in ctx.tags|sort(case_sensitive=true) %}
      {%- if not loop.first %}, {% endif -%}
      <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
    {%- endfor %}</div>{% endif %}
  {{ rst.fragment }}
  <div id="disqus_thread"></div>
{% endblock %}
{% block extra_nav %}{%- if rst.sections %}
<h2>On This Page</h2>
<ul class="unstyled">
    {%- for section in rst.sections %}
    <li><a href="#{{ section[0]}}">{{ section[1] }}</a></li>
    {% endfor -%}
</ul>
{% endif -%}{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var disqus_shortname = 'sa2ajj';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
