body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #efefef;
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    color: #000;
}

header {
    border-bottom: solid 1px #777;
    padding-bottom: 10px;
}

footer {
    border-top: 1px solid #777;
}

footer p {
    text-align: center;
}

h1 a {
  color: #404040;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

h1 a:hover {
  color: #00438a;
  text-decoration: none;
}

.mysidebar {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #e8e8e8;
}

.body {
    padding-top: 1em;
    padding-bottom: 1em;
}

.search {
    padding: 0px;
    line-height: 100%;
}

.h-ads {
    border-top: 1px solid #777;
    text-align: center;
    padding-top: 1em;
}

img.me {
    float: left;
    padding: 0.5em;
}

div.tags {
    border-bottom: 1px dashed #999;
    background-color: #e0e0e0;
    margin-bottom: 1em;
}

div.date {
    background-color: #e0e0e0;
}

h1.title {
    /* border-top: 1px solid #999; */
    border-bottom: 1px dashed #999;
    margin-bottom: 0;
    /* background-color: #f8f8f8; */
}

.detail h1 {
    margin-bottom: 0;
    border-bottom: 1px dashed #999;
}

.body h2 a {
    text-color: inherit;
}

tt {
    font-family: 'source-code-pro', sans-serif;
}

pre {
    font-family: 'source-code-pro', sans-serif;
}

code {
    font-family: 'source-code-pro', sans-serif;
}

.admonition-title {
    font-weight: bold;
    float: left;
    padding-right: 1em;
}

.admonition-title:after {
    content: ": ";
}
